## no data files or archives:
*.csv
*.zip
*.gz
*.sqlite

## no pickles, as they don't persist anyhow:
*.pkl

## no data directories:
*/data/*

## no output directories:
*/output/*

## but do include model runs data file in output directory:
!week-09-and-10-final-project/output/model_runs.csv

## no plots in mini-project:
/week-06-mini-project/*.jpg

## no files in 'old':
old/*
*/old/*


# Created by https://www.gitignore.io/api/jupyternotebook

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#


# End of https://www.gitignore.io/api/jupyternotebook

